:root {
  --color-primary: #00aeef;
  --color-secondary: #0e5374;
  --color-tertiary: #071822;

  --blue-lighter: #e3f7ff;
  --blue-light: #aee6fb;
  --normal-blue: #77daff;
  --darker-blue: #39bff2;

  --sepia: #222222;
  --white: #ffffff;

  --radius-sm: 6px;
  --radius-md: 10px;
  --radius-lg: 20px;
  --shadow-sm: 0 2px 6px rgba(10, 59, 82, 0.25);
  --shadow-md: 0 4px 12px rgba(10, 59, 82, 0.25);
  --shadow-lg: 0 6px 20px rgba(10, 59, 82, 0.25);
  --transition-speed: 0.3s;

  --font-sans-serif: "Raleway", sans-serif;
  --font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
}

[data-theme="dark"] {
  --blue-lighter: #ace8ff;
  --blue-light: #1d5a77;
  --normal-blue: #0a3b52;
  --darker-blue: #081b26;

  --shadow-sm: 0 2px 6px rgba(255, 255, 255, 0.05);
  --shadow-md: 0 4px 10px rgba(255, 255, 255, 0.1);
}

html,
body,
#app {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: var(--font-sans-serif);
  color: var(--sepia);
}

button {
  background: var(--color-primary);
  color: var(--white);
  border: none;
  padding: 1rem 1.2rem;
  border-radius: var(--radius-lg);
  font-weight: 600;
  cursor: pointer;
  box-shadow: var(--shadow-sm);
  font-family: var(--font-sans-serif);
  font-size: medium;
}

button:hover {
  background: var(--color-secondary);
}

h1,
h2,
h3 {
  color: var(--color-primary);
  margin-top: 0;
}

a {
  color: var(--sepia);
  text-decoration: underline;
  transition: color var(--transition-speed);
}

a:hover {
  color: var(--color-secondary);
}

.label-form {
  background-color: var(--white);
  position: relative;
  left: 22px;
  bottom: -10px;
  padding: 0 0.3rem;
  width: fit-content;
  font-size: 14px;
}

.input-form {
  padding: 1.08rem;
  border-radius: var(--radius-lg);
  border-color: var(--color-primary);
  border-style: solid;
}
